<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Hotel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="script" href="{% static 'js/bootstrap.bundle.js' %}">
</head>
<body>
    <div class="container main justify-content-center w-75 mt-5">
        {% if user.is_authenticated and user.is_agency %}
        <form class="form-signin rounded" method="post">{% csrf_token %}
          {{add_hotel_form.as_p}}
           {% for field in add_hotel_form %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
          {% endfor %}
          {% if add_hotel_form.non_field_errors %}
            <div style="color: red">
              <p>{{add_hotel_form.non_field_errors}}</p>
            </div>
          {% endif %}
          <button class="btn btn-lg btn-primary btn-block m-1 mt-3" type="submit">Add to database</button>
        </form>
        {% else %}
            <p class="text-center">You are not allowed to add new spots</p>
        {% endif %}
    </div>
</body>
</html>