<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="script" href="{% static 'js/bootstrap.bundle.js' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
</body>
</html>
<div class="container bootstrap snippets bootdeys">
    <div class="container emp-profile row">
        <div class="col-xs-12 col-sm-9">
            <form class="form-signin rounded" method="post">{% csrf_token %}
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                             alt="Profile Pic"/>
                    </div>
                </div>
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name :</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="name" id="inputName" class="form-control m-1"
                                   value="{{edit_profile_view.name}}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email :</label>
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" id="inputEmail" class="form-control m-1"
                                   value="{{edit_profile_view.email}}" required autofocus>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone :</label>
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="phone" id="inputPhone" class="form-control m-1"
                                   value="{{edit_profile_view.phone}}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>District :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{edit_profile_view.user_district}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date Joined :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{edit_profile_view.date_joined}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>